html{
    overflow-y: overlay;
}
body{
    margin-left: 0;
    margin-right: 2.5vw;
    margin-top: 2.5vw;
}
div{
    float:left;
    border-radius: 2vw;
    width:30vw;
    height:30vw;
    margin-left:2.5vw;
    margin-bottom:2.5vw;      
    background-color: orange;
}
